* {
  font-family: Monotype Corsiva, Arial, sans-serif;
}
 
h1 {
  color: #000080;
  text-align: center;
}

h2 {
  text-align: center;
  color: #000080;
}

p,li {
  font-size: 18px;
}
 
a {
  text-decoration: none;
}
